{% extends "layout.html" %}

{% block title %}
    MY Transactions
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thread>
            <tr>
                <th>Symbol</th>
                <th>Type</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Time</th>
            </tr>

        </thread>
        <tbody>
            {% for transactions in transactions %}
            <tr>
               <td>{{transactions["symbol"].upper()}}</td>
               <td>{{transactions["type"]}}</td>
               <td>{{transactions["shares"]}}</td>
               <td>{{usd(transactions["price"])}}</td>
               <td>{{transactions["time"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
